body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  width:100px;
  height: 30px;
  margin: 10px;
  background-color:indigo;
  color:rgb(219, 212, 224);
  border-radius: 5px;
  border: none;

}
.login{
  border: 1px solid black;
  
}

.cart-box{
  /* border: 2px solid red; */
  height: 40px;
}



input {
  width: 200px;
  margin: 10px;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  background-color: rgb(156, 128, 240);
  color: indigo;
  border-radius: 5px;
  border: none;
}
.login {
  padding: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
  background-color: lavender;
  border: 1px solid lavender;
  position: relative;
  top:20px;
  left:400px;
  width:200px;
  height: 200px;
}

label {
  color: rgb(104, 53, 140);
}

::placeholder {
  color: rgb(124, 97, 143);
}

.home1{
  text-align: center;
  color:blueviolet
}



.nav{
  background-color: blueviolet;
 
  text-align: center;

}
h1,h4{
  color: #5f1f9b
}
h6{
  color: #704796

}
p{
  color: rgb(96, 69, 120)
  
}
.products{
  text-align: center;
}


.card{

}
.card:hover{
  background-color: lavender;

}
.cards_div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:50px;
}



.home1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  gap: 100px;
}
.home1 .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home1 .card img {
  width:250px;
  height: 250px;
}

.cart__2{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
}